<a href="https://colab.research.google.com/github/AtfastrSlushyMaker/pl-standings-prediction-project/blob/main/notebooks/exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('premier_league_combined.csv')

In [3]:
# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
matches_per_season = df.groupby('Season').size()

# Goals scored
df['TotalGoals'] = df['FTHG'] + df['FTAG']

# Home advantage
home_wins = (df['FTR'] == 'H').mean()

In [5]:
# Perform some initial EDA
print("Dataset shape:", df.shape)
print("\nDataset info:")
df.info()
print("\nMissing values percentage:")
print(df.isnull().mean() * 100)
print("\nDescriptive statistics:")
display(df.describe())

# Analyze categorical features (example: FTR - Full Time Result)
print("\nFull Time Result value counts:")
print(df['FTR'].value_counts())

# Analyze numerical features (example: TotalGoals)
print("\nTotalGoals distribution:")
plt.figure(figsize=(8, 6))
sns.histplot(df['TotalGoals'], bins=20, kde=True)
plt.title('Distribution of Total Goals per Match')
plt.xlabel('Total Goals')
plt.ylabel('Frequency')
plt.show()

Season           0
SourceFile       0
Date             0
HomeTeam         0
AwayTeam         0
FTHG             0
FTAG             0
FTR              0
HTHG           924
HTAG           924
HTR            924
Referee       2824
HS            2824
AS            2824
HST           2824
AST           2824
HF            2824
AF            2824
HC            2824
AC            2824
HY            2824
AY            2824
HR            2824
AR            2824
TotalGoals       0
dtype: int64

In [6]:
print(df.isnull().mean() * 100)

Season         0.000000
SourceFile     0.000000
Date           0.000000
HomeTeam       0.000000
AwayTeam       0.000000
FTHG           0.000000
FTAG           0.000000
FTR            0.000000
HTHG           7.497566
HTAG           7.497566
HTR            7.497566
Referee       22.914638
HS            22.914638
AS            22.914638
HST           22.914638
AST           22.914638
HF            22.914638
AF            22.914638
HC            22.914638
AC            22.914638
HY            22.914638
AY            22.914638
HR            22.914638
AR            22.914638
TotalGoals     0.000000
dtype: float64

In [7]:
print(df.shape)        # dimensions
print(df.info())       # types de donn√©es + valeurs manquantes
print(df.describe())   # stats descriptives

(12324, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12324 entries, 0 to 12323
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      12324 non-null  object
 1   SourceFile  12324 non-null  object
 2   Date        12324 non-null  datetime64[ns]
 3   HomeTeam    12324 non-null  object
 4   AwayTeam    12324 non-null  object
 5   FTHG        12324 non-null  int64
 6   FTAG        12324 non-null  int64
 7   FTR         12324 non-null  object
 8   HTHG        11400 non-null  float64
 9   HTAG        11400 non-null  float64
 10  HTR         11400 non-null  object
 11  Referee     9500 non-null   object
 12  HS          9500 non-null   float64
 13  AS          9500 non-null   float64
 14  HST         9500 non-null   float64
 15  AST         9500 non-null   float64
 16  HF          9500 non-null   float64
 17  AF          9500 non-null   float64
 18  HC          9500 non-null   float64
 19  AC          9500 non-null   float64
 20  HY          9500 non-null   float64
 21  AY          9500 non-null   float64
 22  HR          9500 non-null   float64
 23  AR          9500 non-null   float64
 24  TotalGoals  12324 non-null  int64
dtypes: datetime64[ns](1), float64(14), int64(3), object(7)
memory usage: 2.4+ MB
None
                                Date          FTHG          FTAG  \
count                          12324  12324.000000  12324.000000
mean   2009-04-21 14:47:12.327166464      1.530996      1.163827
min              1993-08-14 00:00:00      0.000000      0.000000
25%              2001-02-10 00:00:00      1.000000      0.000000
50%              2009-03-22 00:00:00      1.000000      1.000000
75%              2017-04-29 06:00:00      2.000000      2.000000
max              2025-05-25 00:00:00      9.000000      9.000000
std                              NaN      1.307882      1.147353

               HTHG          HTAG           HS           AS          HST  \
count  11400.000000  11400.000000  9500.000000  9500.000000  9500.000000
mean       0.691228      0.511754    13.611895    10.803789     5.980421
min        0.000000      0.000000     0.000000     0.000000     0.000000
25%        0.000000      0.000000    10.000000     7.000000     4.000000
50%        0.000000      0.000000    13.000000    10.000000     6.000000
75%        1.000000      1.000000    17.000000    14.000000     8.000000
max        5.000000      5.000000    43.000000    37.000000    24.000000
std        0.840313      0.731435     5.347962     4.700194     3.266755

               AST           HF           AF           HC           AC  \
count  9500.000000  9500.000000  9500.000000  9500.000000  9500.000000
mean      4.695263    11.285368    11.773579     6.037263     4.770421
min       0.000000     0.000000     1.000000     0.000000     0.000000
25%       3.000000     9.000000     9.000000     4.000000     3.000000
50%       4.000000    11.000000    12.000000     6.000000     4.000000
75%       6.000000    14.000000    14.000000     8.000000     6.000000
max      20.000000    33.000000    29.000000    20.000000    19.000000
std       2.749782     3.751680     3.920356     3.108943     2.751954

                HY           AY           HR           AR    TotalGoals
count  9500.000000  9500.000000  9500.000000  9500.000000  12324.000000
mean      1.465579     1.788947     0.062632     0.085579      2.694823
min       0.000000     0.000000     0.000000     0.000000      0.000000
25%       1.000000     1.000000     0.000000     0.000000      1.000000
50%       1.000000     2.000000     0.000000     0.000000      3.000000
75%       2.000000     3.000000     0.000000     0.000000      4.000000
max       7.000000     9.000000     3.000000     2.000000     11.000000
std       1.216692     1.288961     0.253356     0.290826      1.684120